<div class="w-screen h-screen surface-ground">
  <div class="grid m-0 p-0">
    <div class="col-12">
      <app-toolbar />
    </div>

    @if (transactionService.getTransactions() | async; as transactions) {
    <div class="col-6 p-0">
      <div class="col-12">
        <app-balance [transactions]="transactions" />
      </div>

      <div class="col-12">
        <app-statistics [transactions]="transactions" />
      </div>
    </div>

    <div class="col-6">
      <app-transactions [transactions]="transactions" />
    </div>
    }
  </div>
</div>
