<p-card>
  <ng-template pTemplate="header">
    <div class="px-4">
      <div class="flex justify-content-between align-items-center">
        <div class="flex align-items-center gap-2">
          <i class="pi pi-list" style="font-size: 2rem"></i>
          <h2>Transactions</h2>
        </div>
        <p-button
          label="Add"
          icon="pi pi-plus"
          class="p-button-success ml-2"
          (onClick)="addTransaction()"></p-button>
      </div>
      <div class="flex justify-content-between align-items-center">
        <div>
          <p-iconField iconPosition="left" class="ml-auto">
            <p-inputIcon>
              <i class="pi pi-search"></i>
            </p-inputIcon>
            <input pInputText [formControl]="searchTerm" placeholder="Search..." />
          </p-iconField>
        </div>
        <p-dropdown
          [options]="categories"
          [(ngModel)]="selectedCategory"
          [showClear]="true"
          optionLabel="name"
          placeholder="Select a Category"
          (onChange)="selectCategory()"></p-dropdown>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    @if (filteredTransactions$ | async; as filteredTransactions) {
    <p-dataView [value]="filteredTransactions" [rows]="10" [paginator]="true">
      <ng-template pTemplate="list" let-filteredTransactions>
        @for (transaction of filteredTransactions; track $index) {
        <app-transaction-item
          [transaction]="transaction"
          (editTransaction)="editTransaction($event)"
          (deleteTransaction)="removeTransaction($event)" />

        }
      </ng-template>
    </p-dataView>
    }
  </ng-template>
</p-card>
