<p-card>
  <ng-template pTemplate="header">
    <div class="px-4">
      <div class="flex justify-content-between align-items-center">
        <h2>Transactions</h2>
        <p-button
          label="Add Transaction"
          icon="pi pi-plus"
          class="p-button-success ml-2"
          (onClick)="addTransaction()"></p-button>
      </div>
      <div class="flex justify-content-between align-items-center">
        <div>
          <p-iconField iconPosition="left" class="ml-auto">
            <p-inputIcon>
              <i class="pi pi-search"></i>
            </p-inputIcon>
            <input
              pInputText
              [(ngModel)]="searchTerm"
              placeholder="Search..."
              (input)="filterTransactionsBySearchTerm()" />
          </p-iconField>
        </div>
        <p-dropdown
          [options]="categories"
          [(ngModel)]="selectedCategory"
          [showClear]="true"
          optionLabel="name"
          placeholder="Select a Category"
          (onChange)="filterTransactionsByCategory()"></p-dropdown>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <p-dataView [value]="filteredTransactions" [rows]="10" [paginator]="true">
      <ng-template pTemplate="list" let-filteredTransactions>
        @for (transaction of filteredTransactions; track $index) {
        <app-transaction-item
          [transaction]="transaction"
          (editTransaction)="editTransaction($event)"
          (deleteTransaction)="removeTransaction($event)" />

        }
      </ng-template>
    </p-dataView>
  </ng-template>
</p-card>
